extends layout
block content
 h1(class= 'title')= title
 if (toShow == null)
  h2 No instance to update
 else
  - let roadtransportid = toShow._id
  - let roadtransport_type = toShow.roadtransport_type
  - let roadtransport_name = toShow.roadtransport_name
  - let roadtransport_cost = toShow.roadtransport_cost

 div.row(class='mb-2, style')
  div.mr-1 ID is
  div #{roadtransportid}
 - let actionid = "/resource/roadtransport/" + roadtransportid
 form(id='roadtransportForm', action= actionid, method="PUT")
   div.form-group
     label.roadtransportAttr(for='roadtransport_type') Roadtransport type
     input#roadtransport_type(type='String', name='roadtransport_type', value= roadtransport_type )
   div.form-group
     label.roadtransportAttr(for='roadtransport_name') Roadtransport siznamee
     input#roadtransport_name(type='String', name='roadtransport_name', value= roadtransport_name )
   div.form-group
     label.roadtransportAttr(for='roadtransport_cost') Roadtransport cost
     input#roadtransport_cost(type='number', name='roadtransport_cost', value= roadtransport_cost )
   input(type="submit")
 script.
   document.forms['roadtransportForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
     method: 'PUT',
     body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
     return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Update succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Update failed " + error )
    });
  });